*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --patter-border-radius: 20px;
}

.container-slide{
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: var(--patter-border-radius);
    box-shadow: 0 20px 30px black;
    display: flex;
    justify-content: space-between;
}

.container-items{
    width: 50vw;
    height: 50vh;
    position: absolute;
    display: flex;
    border-radius: var(--patter-border-radius);
    overflow: hidden;
    /* overflow hidden oculta as imagens dos lados e aparece somente o que está dentro do container-items */
}

.item{
    width: 50vw;
    height: 50vh;
    transition: 1s all;
}

/* first-child - o primeiro filho */
.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    user-select: none;
}

.action-button:hover{
    color: white;
    background-color: #00000055;
    /* opacity: 0.5; */
    cursor: pointer;
    transition: 1s all;
}

#previous{
    border-radius: var(--patter-border-radius) 0px 0px var(--patter-border-radius);
}

#next{
    border-radius: 0px var(--patter-border-radius) var(--patter-border-radius) 0px;
}

.container-indicators{
    width: 50vw;
    height: 5vh;
    position: absolute;
    top: 73%;
    display: flex;
    justify-content: center;
}

.indicators{
    color: white;
    display: flex;
    gap: 10px;
}

.indicators span{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.indicators span:hover{
    box-shadow: 0 0 8px black;
}

.indicators .selected{
    background-color: white;
    color: black;
    box-shadow: 0 0 3px black;
}
